<a href="https://colab.research.google.com/github/SatyaThakur/DL_Bike_share_demand_sklearn/blob/master/Bike_Share_DL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Installing TF 1.14.0

In [2]:
pip install tensorflow==1.14.0

Collecting tensorflow==1.14.0
  Downloading https://files.pythonhosted.org/packages/de/f0/96fb2e0412ae9692dbf400e5b04432885f677ad6241c088ccc5fe7724d69/tensorflow-1.14.0-cp36-cp36m-manylinux1_x86_64.whl (109.2MB)
     |████████████████████████████████| 109.2MB 95kB/s
Collecting tensorboard<1.15.0,>=1.14.0
  Downloading https://files.pythonhosted.org/packages/91/2d/2ed263449a078cd9c8a9ba50ebd50123adf1f8cfbea1492f9084169b89d9/tensorboard-1.14.0-py3-none-any.whl (3.1MB)
     |████████████████████████████████| 3.2MB 31.0MB/s
Requirement already satisfied: protobuf>=3.6.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (3.10.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (1.12.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (0.34.2)
Requirement already satisfied: keras-applications>=1.0.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (1.0.8)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (1.1.0)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (0.2.0)
Requirement already satisfied: gast>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (0.3.3)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (0.9.0)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (1.28.1)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (0.8.1)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (1.12.1)
Requirement already satisfied: numpy<2.0,>=1.14.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (1.18.4)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (1.1.0)
Collecting tensorflow-estimator<1.15.0rc0,>=1.14.0rc0
  Downloading https://files.pythonhosted.org/packages/3c/d5/21860a5b11caf0678fbc8319341b0ae21a07156911132e0e71bffed0510d/tensorflow_estimator-1.14.0-py2.py3-none-any.whl (488kB)
     |████████████████████████████████| 491kB 44.5MB/s
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<1.15.0,>=1.14.0->tensorflow==1.14.0) (1.0.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<1.15.0,>=1.14.0->tensorflow==1.14.0) (3.2.1)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<1.15.0,>=1.14.0->tensorflow==1.14.0) (46.3.0)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.6->tensorflow==1.14.0) (2.10.0)
Installing collected packages: tensorboard, tensorflow-estimator, tensorflow
  Found existing installation: tensorboard 2.2.1
    Uninstalling tensorboard-2.2.1:
      Successfully uninstalled tensorboard-2.2.1
  Found existing installation: tensorflow-estimator 2.2.0
    Uninstalling tensorflow-estimator-2.2.0:
      Successfully uninstalled tensorflow-estimator-2.2.0
  Found existing installation: tensorflow 2.2.0
    Uninstalling tensorflow-2.2.0:
      Successfully uninstalled tensorflow-2.2.0
Successfully installed tensorboard-1.14.0 tensorflow-1.14.0 tensorflow-estimator-1.14.0

# Uploading Data File

In [3]:
from google.colab import files
files.upload();

Saving bikeshare_hour_data.csv to bikeshare_hour_data.csv

In [5]:
import pandas as pd
bike_df=pd.read_csv("bikeshare_hour_data.csv")
bike_df.head()

   instant      dteday  season  yr  ...  windspeed  casual  registered  cnt
0        1  2011-01-01       1   0  ...        0.0       3          13   16
1        2  2011-01-01       1   0  ...        0.0       8          32   40
2        3  2011-01-01       1   0  ...        0.0       5          27   32
3        4  2011-01-01       1   0  ...        0.0       3          10   13
4        5  2011-01-01       1   0  ...        0.0       0           1    1

[5 rows x 17 columns]

# Dummy Encoding the Categorical columns

In [6]:
bike_df.shape

(17379, 17)

In [7]:
season_dummies = pd.get_dummies(bike_df.season, prefix="season", drop_first=True)
mnth_dummies = pd.get_dummies(bike_df.mnth, prefix="mnth", drop_first=True)
weekday_dummies = pd.get_dummies(bike_df.weekday, prefix="weekday", drop_first=True)
weather_dummies = pd.get_dummies(bike_df.weathersit, prefix="weather", drop_first=True)

#appending dummies to the data frame
bike_df=pd.concat([bike_df,season_dummies,mnth_dummies,weather_dummies, weekday_dummies], axis=1)
bike_df.shape

(17379, 40)

In [8]:
#deleting dummy encoded variables from df
del bike_df['season']
del bike_df['mnth']
del bike_df['weekday']
del bike_df['weathersit']
del bike_df['casual']
del bike_df['registered']
del bike_df['instant']
del bike_df['dteday'] 
bike_df.shape

(17379, 32)

In [9]:
pd.options.display.max_columns=None
bike_df.head()

,yr,hr,holiday,workingday,temp,atemp,hum,windspeed,cnt,season_2,season_3,season_4,mnth_2,mnth_3,mnth_4,mnth_5,mnth_6,mnth_7,mnth_8,mnth_9,mnth_10,mnth_11,mnth_12,weather_2,weather_3,weather_4,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6
0,0,0,0,0,0.24,0.2879,0.81,0.0,16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,0,1,0,0,0.22,0.2727,0.80,0.0,40,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,0,2,0,0,0.22,0.2727,0.80,0.0,32,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,0,3,0,0,0.24,0.2879,0.75,0.0,13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,4,0,0,0.24,0.2879,0.75,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

Converting cnt type to float64 from int64

In [0]:
bike_df['cnt'] = bike_df['cnt'].astype('float64')

defining target and features

In [11]:
target = bike_df['cnt']
bike_df.drop(['cnt'],1,inplace=True)
features = bike_df
print(target.shape)
print(features.shape)

(17379,)
(17379, 31)

In [12]:
target

0         16.0
1         40.0
2         32.0
3         13.0
4          1.0
         ...
17374    119.0
17375     89.0
17376     90.0
17377     61.0
17378     49.0
Name: cnt, Length: 17379, dtype: float64

In [13]:
features

,yr,hr,holiday,workingday,temp,atemp,hum,windspeed,season_2,season_3,season_4,mnth_2,mnth_3,mnth_4,mnth_5,mnth_6,mnth_7,mnth_8,mnth_9,mnth_10,mnth_11,mnth_12,weather_2,weather_3,weather_4,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6
0,0,0,0,0,0.24,0.2879,0.81,0.0000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,0,1,0,0,0.22,0.2727,0.80,0.0000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,0,2,0,0,0.22,0.2727,0.80,0.0000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,0,3,0,0,0.24,0.2879,0.75,0.0000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,4,0,0,0.24,0.2879,0.75,0.0000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,1,19,0,1,0.26,0.2576,0.60,0.1642,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0
17375,1,20,0,1,0.26,0.2576,0.60,0.1642,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0
17376,1,21,0,1,0.26,0.2576,0.60,0.1642,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
17377,1,22,0,1,0.26,0.2727,0.56,0.1343,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
17378,1,23,0,1,0.26,0.2727,0.65,0.1343,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0

# Input features are given in different scale and should be stadardized before feeding them into Neural Network model

In [0]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [15]:
feature_set = ss.fit_transform(features)
feature_set

array([[-1.0051343 , -1.67000398, -0.1721122 , ..., -0.40712398,
        -0.40865929,  2.43277449],
       [-1.0051343 , -1.52537422, -0.1721122 , ..., -0.40712398,
        -0.40865929,  2.43277449],
       [-1.0051343 , -1.38074446, -0.1721122 , ..., -0.40712398,
        -0.40865929,  2.43277449],
       ...,
       [ 0.99489192,  1.36722104, -0.1721122 , ..., -0.40712398,
        -0.40865929, -0.41105331],
       [ 0.99489192,  1.51185081, -0.1721122 , ..., -0.40712398,
        -0.40865929, -0.41105331],
       [ 0.99489192,  1.65648057, -0.1721122 , ..., -0.40712398,
        -0.40865929, -0.41105331]])

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(feature_set,target,test_size=0.20,random_state=1234)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(13903, 31)
(3476, 31)
(13903,)
(3476,)

# Build Model

In [0]:
from keras import Sequential
from keras import layers

In [0]:
model = Sequential()

In [0]:
model.add(layers.Dense(150,activation='relu',input_shape=(31,)))

In [0]:
model.add(layers.Dense(90,activation='relu'))
model.add(layers.Dense(60,activation='relu'))
model.add(layers.Dense(30,activation='relu'))
model.add(layers.Dense(1,activation='relu'))

In [0]:
model.compile(optimizer='adam', loss='mse')

In [26]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 150)               4800
_________________________________________________________________
dense_2 (Dense)              (None, 90)                13590
_________________________________________________________________
dense_3 (Dense)              (None, 60)                5460
_________________________________________________________________
dense_4 (Dense)              (None, 30)                1830
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 31
=================================================================
Total params: 25,711
Trainable params: 25,711
Non-trainable params: 0
_________________________________________________________________

# Fit the model

In [0]:
import tensorflow as tf

In [28]:
model.fit(x_train, y_train, epochs=100, batch_size=32)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/100
13903/13903 [==============================] - 1s 61us/step - loss: 25179.0819
Epoch 2/100
13903/13903 [==============================] - 1s 50us/step - loss: 18698.0521
Epoch 3/100
13903/13903 [==============================] - 1s 57us/step - loss: 17113.4744
Epoch 4/100
13903/13903 [==============================] - 1s 52us/step - loss: 13528.7031
Epoch 5/100
13903/13903 [==============================] - 1s 50us/step - loss: 11444.4361
Epoch 6/100
13903/13903 [==============================] - 1s 49us/step - loss: 9828.2307
Epoch 7/100
13903/13903 [==============================] - 1s 51us/step - loss: 8498.3591
Epoch 8/100
13903/13903 [==============================] - 1s 51us/step - loss: 7172.0042
Epoch 9/100
13903/13903 [==============================] - 1s 49us/step - loss: 5958.1016
Epoch 10/100
13903/13903 [==============================] - 1s 55us/step - loss: 4777.6991
Epoch 11/100
13903/13903 [==============================] - 1s 50us/step - loss: 3889.9565
Epoch 12/100
13903/13903 [==============================] - 1s 49us/step - loss: 3281.5853
Epoch 13/100
13903/13903 [==============================] - 1s 55us/step - loss: 2863.8781
Epoch 14/100
13903/13903 [==============================] - 1s 55us/step - loss: 2521.8054
Epoch 15/100
13903/13903 [==============================] - 1s 53us/step - loss: 2321.3071
Epoch 16/100
13903/13903 [==============================] - 1s 48us/step - loss: 2143.8307
Epoch 17/100
13903/13903 [==============================] - 1s 49us/step - loss: 2045.1925
Epoch 18/100
13903/13903 [==============================] - 1s 53us/step - loss: 1860.7394
Epoch 19/100
13903/13903 [==============================] - 1s 52us/step - loss: 1865.0460
Epoch 20/100
13903/13903 [==============================] - 1s 50us/step - loss: 1682.0064
Epoch 21/100
13903/13903 [==============================] - 1s 49us/step - loss: 1646.3137
Epoch 22/100
13903/13903 [==============================] - 1s 48us/step - loss: 1674.0461
Epoch 23/100
13903/13903 [==============================] - 1s 48us/step - loss: 1544.6565
Epoch 24/100
13903/13903 [==============================] - 1s 53us/step - loss: 1567.2300
Epoch 25/100
13903/13903 [==============================] - 1s 54us/step - loss: 1543.0789
Epoch 26/100
13903/13903 [==============================] - 1s 53us/step - loss: 1484.5101
Epoch 27/100
13903/13903 [==============================] - 1s 56us/step - loss: 1398.4081
Epoch 28/100
13903/13903 [==============================] - 1s 54us/step - loss: 1332.6101
Epoch 29/100
13903/13903 [==============================] - 1s 50us/step - loss: 1317.5184
Epoch 30/100
13903/13903 [==============================] - 1s 50us/step - loss: 1357.2437
Epoch 31/100
13903/13903 [==============================] - 1s 49us/step - loss: 1284.1372
Epoch 32/100
13903/13903 [==============================] - 1s 50us/step - loss: 1263.8586
Epoch 33/100
13903/13903 [==============================] - 1s 53us/step - loss: 1238.4636
Epoch 34/100
13903/13903 [==============================] - 1s 49us/step - loss: 1228.0656
Epoch 35/100
13903/13903 [==============================] - 1s 49us/step - loss: 1205.4615
Epoch 36/100
13903/13903 [==============================] - 1s 50us/step - loss: 1198.1564
Epoch 37/100
13903/13903 [==============================] - 1s 50us/step - loss: 1197.2094
Epoch 38/100
13903/13903 [==============================] - 1s 52us/step - loss: 1171.3321
Epoch 39/100
13903/13903 [==============================] - 1s 52us/step - loss: 1196.9574
Epoch 40/100
13903/13903 [==============================] - 1s 53us/step - loss: 1186.7819
Epoch 41/100
13903/13903 [==============================] - 1s 52us/step - loss: 1102.0545
Epoch 42/100
13903/13903 [==============================] - 1s 48us/step - loss: 1104.6727
Epoch 43/100
13903/13903 [==============================] - 1s 50us/step - loss: 1087.6569
Epoch 44/100
13903/13903 [==============================] - 1s 49us/step - loss: 1044.9175
Epoch 45/100
13903/13903 [==============================] - 1s 50us/step - loss: 1055.1534
Epoch 46/100
13903/13903 [==============================] - 1s 52us/step - loss: 1031.7203
Epoch 47/100
13903/13903 [==============================] - 1s 49us/step - loss: 1030.4834
Epoch 48/100
13903/13903 [==============================] - 1s 50us/step - loss: 981.5141
Epoch 49/100
13903/13903 [==============================] - 1s 52us/step - loss: 1155.6071
Epoch 50/100
13903/13903 [==============================] - 1s 54us/step - loss: 1006.8486
Epoch 51/100
13903/13903 [==============================] - 1s 52us/step - loss: 978.8223
Epoch 52/100
13903/13903 [==============================] - 1s 48us/step - loss: 966.1079
Epoch 53/100
13903/13903 [==============================] - 1s 53us/step - loss: 974.5299
Epoch 54/100
13903/13903 [==============================] - 1s 55us/step - loss: 980.9115
Epoch 55/100
13903/13903 [==============================] - 1s 49us/step - loss: 967.2002
Epoch 56/100
13903/13903 [==============================] - 1s 53us/step - loss: 925.7733
Epoch 57/100
13903/13903 [==============================] - 1s 54us/step - loss: 918.6893
Epoch 58/100
13903/13903 [==============================] - 1s 56us/step - loss: 937.9245
Epoch 59/100
13903/13903 [==============================] - 1s 50us/step - loss: 928.3944
Epoch 60/100
13903/13903 [==============================] - 1s 49us/step - loss: 878.4612
Epoch 61/100
13903/13903 [==============================] - 1s 50us/step - loss: 908.1889
Epoch 62/100
13903/13903 [==============================] - 1s 54us/step - loss: 876.5019
Epoch 63/100
13903/13903 [==============================] - 1s 57us/step - loss: 881.3261
Epoch 64/100
13903/13903 [==============================] - 1s 52us/step - loss: 928.3812
Epoch 65/100
13903/13903 [==============================] - 1s 50us/step - loss: 842.0430
Epoch 66/100
13903/13903 [==============================] - 1s 51us/step - loss: 845.5586
Epoch 67/100
13903/13903 [==============================] - 1s 54us/step - loss: 829.2117
Epoch 68/100
13903/13903 [==============================] - 1s 53us/step - loss: 855.7802
Epoch 69/100
13903/13903 [==============================] - 1s 48us/step - loss: 796.1188
Epoch 70/100
13903/13903 [==============================] - 1s 52us/step - loss: 818.0909
Epoch 71/100
13903/13903 [==============================] - 1s 51us/step - loss: 810.8837
Epoch 72/100
13903/13903 [==============================] - 1s 51us/step - loss: 775.6275
Epoch 73/100
13903/13903 [==============================] - 1s 55us/step - loss: 767.3508
Epoch 74/100
13903/13903 [==============================] - 1s 56us/step - loss: 803.7638
Epoch 75/100
13903/13903 [==============================] - 1s 55us/step - loss: 822.7138
Epoch 76/100
13903/13903 [==============================] - 1s 56us/step - loss: 793.5380
Epoch 77/100
13903/13903 [==============================] - 1s 55us/step - loss: 726.5066
Epoch 78/100
13903/13903 [==============================] - 1s 56us/step - loss: 770.8067
Epoch 79/100
13903/13903 [==============================] - 1s 57us/step - loss: 731.7946
Epoch 80/100
13903/13903 [==============================] - 1s 53us/step - loss: 739.6416
Epoch 81/100
13903/13903 [==============================] - 1s 52us/step - loss: 730.7752
Epoch 82/100
13903/13903 [==============================] - 1s 50us/step - loss: 813.1863
Epoch 83/100
13903/13903 [==============================] - 1s 49us/step - loss: 711.8968
Epoch 84/100
13903/13903 [==============================] - 1s 49us/step - loss: 690.1023
Epoch 85/100
13903/13903 [==============================] - 1s 49us/step - loss: 680.4658
Epoch 86/100
13903/13903 [==============================] - 1s 50us/step - loss: 685.5572
Epoch 87/100
13903/13903 [==============================] - 1s 49us/step - loss: 763.3140
Epoch 88/100
13903/13903 [==============================] - 1s 52us/step - loss: 728.3003
Epoch 89/100
13903/13903 [==============================] - 1s 55us/step - loss: 664.8874
Epoch 90/100
13903/13903 [==============================] - 1s 52us/step - loss: 695.4042
Epoch 91/100
13903/13903 [==============================] - 1s 49us/step - loss: 683.1867
Epoch 92/100
13903/13903 [==============================] - 1s 52us/step - loss: 663.9970
Epoch 93/100
13903/13903 [==============================] - 1s 51us/step - loss: 729.4229
Epoch 94/100
13903/13903 [==============================] - 1s 49us/step - loss: 645.5468
Epoch 95/100
13903/13903 [==============================] - 1s 50us/step - loss: 637.6447
Epoch 96/100
13903/13903 [==============================] - 1s 57us/step - loss: 675.4091
Epoch 97/100
13903/13903 [==============================] - 1s 55us/step - loss: 649.6221
Epoch 98/100
13903/13903 [==============================] - 1s 53us/step - loss: 651.4385
Epoch 99/100
13903/13903 [==============================] - 1s 52us/step - loss: 589.8361
Epoch 100/100
13903/13903 [==============================] - 1s 50us/step - loss: 641.4054

# Model Validation

In [30]:
pred = model.predict(x_test)
pred

array([[371.79572  ],
       [350.5037   ],
       [  3.5580819],
       ...,
       [272.97232  ],
       [ 94.36443  ],
       [ 88.88593  ]], dtype=float32)

In [0]:
import numpy as np
from sklearn.metrics import mean_squared_error

In [33]:
y_test=np.array(y_test)
y_test

array([330., 351.,   3., ..., 238.,  99.,  83.])

# Error finding

In [34]:
RMSE = np.sqrt(mean_squared_error(y_test,pred))
print('RMSE of the model is: ', RMSE)

RMSE of the model is:  40.59927920769863